body{
background-color: black;
}



h1{
color:antiquewhite;
font-family: "Playfair Display", serif;
font-weight: bold;
   
}

p{  
color:antiquewhite;
font-family: "Poppins", sans-serif;
font-weight: normal;
}